
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/EstiloUt.css" type="text/css" />
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <title>UltimateFut</title>
</head>
<body id="logo" background="Images/Ut.png">
   
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>    Sistemas computacionales.</p><br>
        <p>Carlos Alejandro Ramos Hernandez. </p><br>
        <p>                                    ITESRC.</p>
    </footer>
</body>
</html>